<div class="footer">
  <div class="right-side-placement">
    <div class="div-left">
      <p>
        Welcome to BetFree, where you can bet on the prices of your favorite
        crypto tokens. Our platform is fully secure and encrypted, and we use
        the latest blockchain technology to ensure the fairness of all bets. Our
        customer support team is available 24/7 to assist you with any questions
        or concerns. Remember to always bet responsibly and never wager more
        than you can afford to lose. Happy betting!
      </p>
      <p>Copyright © 2023 betfree.com All rights reserved.</p>
    </div>
    <div class="contacts">
      <h3>Socials</h3>
      <p></p>
    </div>
  </div>
</div>
