.main-div {
  width: 70%;
  margin-left: 22rem;
  height: 10rem;
  background-color: #222222;
  min-height: 1200px;
  position: relative;
  margin-top: 4rem;
  max-height: 5000px;
  overflow: auto;
  transition: all 1s;
}

.token-tab {
  padding: 20px;
}
