<form action="POST" class="form form-register">
  <img src="../../../assets/img/shtamp.png" class="free-space" alt="logo" />
  <div class="form-field">
    <label>Full Name</label>
    <input
      id="full-name"
      type="text"
      class="form-input"
      placeholder="Full Name"
      required
    />
  </div>
  <div class="form-field">
    <label>Username</label>
    <input
      id="register-username"
      type="text"
      class="form-input"
      placeholder="Username"
      required
    />
  </div>
  <div class="form-field">
    <label>Email</label>
    <input
      id="email"
      type="text"
      class="form-input"
      placeholder="Email"
      required
    />
  </div>
  <div class="form-field">
    <label>Password</label>
    <input
      id="password"
      type="password"
      class="form-input"
      placeholder="Password"
      required
    />
  </div>
  <div class="form-field">
    <label>Confirm Password</label>
    <input
      id="confirm-password"
      type="password"
      class="form-input"
      placeholder="Confirm Password"
      required
    />
  </div>
  <div class="form-field">
    <input type="submit" value="Register" />
  </div>
</form>
