<div class="chat" [ngStyle]="chatCloseParams">
  <div class="upper-field">
    <i class="fa-solid fa-globe"></i>
    <p>Users online: <span class="users">414</span></p>
  </div>
  <div class="messages">
    <p>
      <span>User - picture: </span>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum,
      recusandae dolores minus optio illum laborum cumque vero. Tempora
      laboriosam, ipsum magni sapiente rem possimus perferendis modi laborum
      delectus. Ex, neque.
    </p>
  </div>
  <div class="input-field">
    <input type="text" placeholder="Send message..." />
    <div [ngStyle]="messagesOptions" class="messages-options">
      <p>Gift coins</p>
      <p>Chat rules</p>
      <p (click)="closeChat()">Close chat</p>
    </div>
    <i class="fa-solid fa-bars" (click)="toggleAnimation()"></i>
  </div>
</div>
