<div class="chat">
  <div class="upper-field">
    <i class="fa-solid fa-earth-europe"></i>
    <p>Users online: <span class="users">414</span></p>
  </div>
  <div class="messages">
    <p>
      <span>User - picture: </span>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum,
      recusandae dolores minus optio illum laborum cumque vero. Tempora
      laboriosam, ipsum magni sapiente rem possimus perferendis modi laborum
      delectus. Ex, neque.
    </p>
  </div>
  <div class="input-field">
    <input type="text" placeholder="Send message..." />
    <i class="fa-solid fa-hands-holding-circle"></i>
  </div>
</div>
