.main-div {
  width: 70%;
  margin-left: 22rem;
  background-color: #222222;
  min-height: 1200px;
  position: relative;
  margin-top: 4rem;
  margin-bottom: 10rem;
  max-height: 5000px;
  color: rgb(146, 147, 166);
  font-family: Rubik, sans-serif;
  overflow: hidden;
  transition: all 0.8s;
}

.token-tab {
  padding: 20px;
  border: 1px solid orange;
  width: 30%;
}

.welcome {
  width: 95%;
  align-items: center;
  height: 300px;
  font-weight: 100;
  background-color: rgb(41, 41, 41);
  margin: 30px;
  margin-top: 5%;
  border-radius: 2%;
  box-shadow: -1px -1px 15px 4px rgb(0 0 0 / 22%);
  display: flex;
  flex-direction: column;
}

.welcome > h1 {
  padding-top: 25px;
}

.welcome-info {
  display: flex;
}

.info {
  margin-left: 6%;
  margin-top: 5%;
  width: 43%;
  margin-right: 15%;
}

.coins-images {
  margin-top: 4%;
  margin-left: 5%;
}

.coins-images > img {
  width: 200px;
  height: auto;
}

.fa-question {
  margin-left: 92%;
  transition: color 0.5s ease;
}

.fa-question:hover {
  color: #c49a30;
}

.about {
  position: absolute;
  display: none;
  margin-left: 92%;
  width: 100%;
  z-index: 4;
  background-color: #c49a30;
  transition: all 0.5s;
  opacity: 0;
}

.fa-question:hover ~ .about {
  display: block;
  opacity: 1;
}

.dot-wave {
  --uib-size: 47px;
  --uib-speed: 1s;
  --uib-color: rgb(146, 147, 166);

  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  margin-left: 31%;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.17);
  padding-top: calc(var(--uib-size) * 0.34);
}

.dot-wave__dot {
  flex-shrink: 0;
  width: calc(var(--uib-size) * 0.17);
  height: calc(var(--uib-size) * 0.17);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.dot-wave__dot:nth-child(1) {
  animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45)
    infinite;
}

.dot-wave__dot:nth-child(2) {
  animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3)
    infinite;
}

.dot-wave__dot:nth-child(3) {
  animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15)
    infinite;
}

.dot-wave__dot:nth-child(4) {
  animation: jump var(--uib-speed) ease-in-out infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-200%);
  }
}
