<div class="main-div" [ngStyle]="{'width': toChangeWidth ? '85%' : '70%', 'margin-left': toChangeWidth ? '7rem' : '22rem'}">
  <div class="dot-wave" *ngIf="loading" [ngStyle]="{'margin-left': toChangeWidth ? '39rem' : '31rem'}">
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
  </div>
  <div class="token-tab">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit commodi
      molestias dignissimos placeat eligendi inventore, nostrum explicabo porro
      similique, nisi quas enim doloribus cum perferendis molestiae repudiandae,
      necessitatibus repellendus corporis!
    </p>
  </div>
</div>