<div
  class="main-div"
  [ngStyle]="{
    width: toChangeWidth ? '85%' : '70%',
    'margin-left': toChangeWidth ? '7rem' : '22rem'
  }"
>
  <div class="welcome" *ngIf="userAuthenticated">
    <h1>Crypto Coins and Tokens are here!</h1>
    <div class="welcome-info">
      <div class="info">
        <p>Bet on our listed coins and tokens!</p>
        <p>
          Unlock rewards, buy perks and use the daily spin or play games to earn
          more coins. Most importantly, have fun!
        </p>
      </div>
      <div class="coins-images">
        <img src="./assets/img/welcomeLogo.png" alt="coins" />
      </div>
    </div>
    <i class="fa-solid fa-question"></i>
    <div class="about">
      <p>
        Here you can bet on the future price of various cryptocurrencies. Our
        goal is to provide a fun, fair, and secure environment for all our
        users.
      </p>
      <p>
        Our platform allows you to place bets on the 24-hour price change of
        different tokens. If you have a keen eye for the crypto market and think
        you can predict which way the prices will move, then this is the perfect
        place for you. With a simple and user-friendly interface, placing bets
        has never been easier.
      </p>
      <p>
        So why wait? Start placing your bets on the future of the crypto market.
        Who knows, you might just strike it big!
        <span class="beta">- currently in beta -</span>
      </p>
    </div>
  </div>
  <div
    class="dot-wave"
    *ngIf="loading"
    [ngStyle]="{ 'margin-left': toChangeWidth ? '39rem' : '31rem' }"
  >
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
  </div>
  <span></span>
  <div class="token-tab" *ngFor="let token of tokens" index as i>
    <p>{{ token.name }}</p>
    <img src="{{ token.image }}" alt="{{ token.name }}" />
  </div>
</div>
